{#
==================================================
    Card (card)
    Variable:
        - Block (Block)

    Fields:
        - Eyebrow (eyebrow)
        - Heading (heading)
        - Text (text)
        - Sidebar Eyebrow (mainEyebrow)
        - Sidebar Heading (mainHeading)
        - Sidebar Text (mainText)
        - Buttons (buttons) [Matrix]
            - Button (button)
            - Button Color (buttonColor)
        - Listing Cards (listingCards) [Super Table]
            - Icon (icon)
            - Heading (heading)
            - Text (text)
            - Lists (lists) [Matrix]
                - Text (text)
            - Button (button)
        - Margin Top (marginTop)
        - Margin Bottom (marginBottom)
        - Padding Top (paddingTop)
        - Padding Bottom (paddingBottom)
==================================================
 #}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import '_includes/macros' as render %}

{% set marginTop = block.marginTop.getExtras() %}
{% set marginBottom = block.marginBottom.getExtras() %}
{% set paddingTop = block.paddingTop.getExtras() %}
{% set paddingBottom = block.paddingBottom.getExtras() %}

{% set blockClasses = [
    "block block--#{block.type}",
    marginTop.classes|default(null),
    marginBottom.classes|default(null),
    paddingTop.classes|default('pt-medium'),
    paddingBottom.classes|default(last ? 'pb-medium')
] %}

{% set blockStyles = {} %}

{% set id = "block-#{block.getId()}" %}

{# Section attributes #}
{% set attributes = {
    id: id,
    class: blockClasses,
    style: blockStyles
} %}

<section {{ attr(attributes) }}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title title-style-center_text">
                    {% if block.eyebrow|length or block.heading|length %}
                    <div class="title-header">
                        {% if block.eyebrow|length %}
                        <h3 class="eyebrowColor">{{ block.eyebrow }}</h3>
                        {% endif %}

                        {% set params = {
                            text: block.heading,
                            class: 'ttm-textcolor-skincolor',
                        } %}
                        {% if block.heading|length %}
                        <h2 class="title">{{ render.replaceUnderscores(params) }}</h2>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if block.heading|length %}
                    <div class="heading-seperator"><span></span></div>
                    {% endif %}

                    {% if block.text|length %}
                    <div class="title-desc">
                        {{ block.text }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="padding_top25 res-991-padding_top0">
                    <div class="section-title">
                        {% if block.mainHeading|length or block.mainEyebrow|length %}
                        <div class="title-header">
                            {% if block.mainEyebrow|length %}
                            <h3 class="eyebrowColor">{{ block.mainEyebrow }}</h3>
                            {% endif %}

                            {% set params = {
                                text: block.mainHeading,
                                class: 'ttm-textcolor-skincolor',
                            } %}
                            {% if block.mainHeading|length %}
                            <h2 class="title">{{ render.replaceUnderscores(params) }}</h2>
                            {% endif %}
                        </div>
                        {% endif %}

                        {% if block.mainHeading|length %}
                        <div class="heading-seperator"><span></span></div>
                        {% endif %}

                        {% if block.mainText|length %}
                        <div class="title-desc">
                            {{ block.mainText }}
                        </div>
                        {% endif %}
                    </div>

                    {% for item in block.buttons.all() %}
                    {% set extras = item.buttonColor.getExtras() %}
                    {% set options = {
                        button: item.button,
                        color: extras.classes,
                    } %}
                    {{ render.createButton(options) }}
                    {% endfor %}

                </div>
            </div>

            {% for block in block.listingCards.all() %}
            {% if loop.first %}
            <div class="col-lg-9 padding_left45 res-991-padding_left15 mb_15">
                <div class="row ttm-boxes-spacing-15px padding_top15 res-991-padding_top50">
            {% endif %}
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="featured-icon-box icon-align-top-content style2 ttm-bgcolor-grey">
                            <div class="featured-icon">
                                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-style-rounded ttm-icon_element-color-white ttm-icon_element-size-lg">
                                    {% set params = {
                                        icon: block.icon
                                    } %}
                                    {{ render.icon(params) }}
                                </div>
                            </div>

                            {% if block.heading|length %}
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h3>{{ block.heading }}</h3>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
            {% if loop.last %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>