{#
==================================================
    Featured Card (featuredCard)
    Variable:
        - Block (Block)

    Fields:
        - Eyebrow (eyebrow)
        - Heading (heading)
        - Text (text)
        - Listing Cards (listingCards) [Super Table]
            - Icon (icon)
            - Heading (heading)
            - Text (text)
            - Lists (lists) [Matrix]
                - Text (text)
            - Button (button)
        - Background Color (backgroundColor)
        - Margin Top (marginTop)
        - Margin Bottom (marginBottom)
        - Padding Top (paddingTop)
        - Padding Bottom (paddingBottom)
==================================================
#}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import '_includes/macros' as render %}

{% set marginTop = block.marginTop.getExtras() %}
{% set marginBottom = block.marginBottom.getExtras() %}
{% set paddingTop = block.paddingTop.getExtras() %}
{% set paddingBottom = block.paddingBottom.getExtras() %}

{# Set the BG color #}
{% set bgColor = block.backgroundColor.getValue()|default(null) %}

{% set blockClasses = [
    "block block--#{block.type}",
    marginTop.classes|default(null),
    marginBottom.classes|default(null),
    paddingTop.classes|default('pt-medium'),
    paddingBottom.classes|default(bgColor|length or last ? 'pb-medium'),
    bgColor
] %}

{% set blockStyles = {} %}

{% set id = "block-#{block.getId()}" %}

{# Section attributes #}
{% set attributes = {
    id: id,
    class: blockClasses,
    style: blockStyles
} %}

<section {{ attr(attributes) }}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title title-style-center_text">
                    {% if block.eyebrow|length or block.heading|length %}
                    <div class="title-header">
                        {% if block.eyebrow|length %}
                        <h3 class="eyebrowColor">{{ block.eyebrow }}</h3>
                        {% endif %}

                        {% set textColor = bgColor == 'ttm-bgcolor-skincolor' ? 'ttm-textcolor-darkgrey' : 'ttm-textcolor-skincolor' %}
                        {% set params = {
                            text: block.heading,
                            class: textColor,
                        } %}
                        {% if block.heading|length %}
                        <h2 class="title">{{ render.replaceUnderscores(params) }}</h2>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if block.heading|length %}
                    <div class="heading-seperator"><span></span></div>
                    {% endif %}

                    {% if block.text|length %}
                    <div class="title-desc">
                        {{ block.text }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% for block in block.listingCards.all() %}
        {% if loop.first %}
        <div class="row ttm-vertical_sep sep_width2 row-equal-height">
        {% endif %}
            <div class="col-lg-4 col-md-12">
                <div class="featured-icon-box icon-align-before-content style7">
                    <div class="featured-icon">
                        <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                            {% set params = {
                                icon: block.icon
                            } %}
                            {{ render.icon(params) }}
                        </div>
                    </div>

                    {% if block.heading|length or block.text|length %}
                    <div class="featured-content">
                        {% if block.heading|length %}
                        <div class="featured-title">
                            <h3>{{ block.heading }}</h3>
                        </div>
                        {% endif %}

                        {% if block.text|length %}
                        <div class="featured-desc">
                            {{ block.text }}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        {% if loop.index is divisible by(3) and not loop.last %}
        </div>
        <div class="ttm-horizontal_sep sep_width2 width-100 lg-hide"></div>
        <div class="row ttm-vertical_sep sep_width2 row-equal-height">
        {% endif %}
        {% if loop.last %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>