{#
==================================================
	Form With Content (formWithContent)
	Variable:
		- Block (Block)

	Fields:
		- Eyebrow (eyebrow)
		- Heading (heading)
		- Form Listing (formListing)
			- Icon (icon)
			- Heading (heading)
			- Text (text)
		- Form (form)
		- Margin Top (marginTop)
		- Margin Bottom (marginBottom)
		- Padding Top (paddingTop)
		- Padding Bottom (paddingBottom)
==================================================
 #}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import '_includes/macros' as render %}

{% set marginTop = block.marginTop.getExtras() %}
{% set marginBottom = block.marginBottom.getExtras() %}
{% set paddingTop = block.paddingTop.getExtras() %}
{% set paddingBottom = block.paddingBottom.getExtras() %}

{% set blockClasses = [
    "block block--#{block.type}",
    marginTop.classes|default(null),
    marginBottom.classes|default(null),
    paddingTop.classes|default('pt-medium'),
    paddingBottom.classes|default(null)
] %}

{% set blockStyles = {} %}

{% set id = "block-#{block.getId()}" %}

{# Section attributes #}
{% set attributes = {
    id: id,
    class: blockClasses,
    style: blockStyles
} %}

<section class="ttm-row conatact-section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="padding_right30 res-991-padding_right0 res-991-margin_bottom50">
                    {% if block.eyebrow|length or block.heading|length %}
                    <div class="section-title">
                        <div class="title-header">
                            {% if block.eyebrow|length %}
                            <h3 class="eyebrowColor">{{ block.eyebrow }}</h3>
                            {% endif %}

                            {% set textColor = 'ttm-textcolor-skincolor' %}
                            {% set params = {
                                text: block.heading,
                                class: textColor,
                            } %}
                            {% if block.heading|length %}
                            <h2 class="title">
                            	{{ render.replaceUnderscores(params) }}
                            </h2>
                            {% endif %}
                        </div>

                        {% if block.heading|length %}
                        <div class="heading-seperator"><span></span></div>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% for block in block.formListing.all() %}
                    <div class="featured-icon-box icon-align-before-content style11">
                        <div class="featured-icon padding_right10">
                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                {% set params = {
                                    icon: block.icon
                                } %}
                                {{ render.icon(params) }}
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h3 class="font-weight-500">{{ block.heading }}</h3>
                            </div>
                            <div class="featured-desc">
                                {{ block.text }}
                            </div>
                        </div>
                    </div>
                    {% if not loop.last %}
                    <div class="ttm-horizontal_sep width-100 margin_top25 margin_bottom25"></div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-7">
                <div class="ttm-bgcolor-grey p-40 padding_top35 res-991-p-15 res-991-padding_top30 res-991-padding_bottom30">
                    {% if block.form|length %}
                    <div>
                    	{{ craft.freeform.form(block.form.handle).render() }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>