{#
==================================================
    Featured Content (featuredContent)
    Variable:
        - Block (Block)

    Fields:
        - Image (image)
        - Overlay Text (overlayText)
        - Eyebrow (eyebrow)
        - Heading (heading)
        - Text (text)
        - Featured Lists (listing)
        - Featured Statistic (cta)
        - Featured Cards (featuredCards) [Child]
            - Icon (icon)
            - Heading (heading)
            - Text (text)
            - Background Color (backgroundColor)
        - Background Color (backgroundColor)
        - Margin Top (marginTop)
        - Margin Bottom (marginBottom)
        - Padding Top (paddingTop)
        - Padding Bottom (paddingBottom)
==================================================
#}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import '_includes/macros' as render %}

{% set marginTop = block.marginTop.getExtras() %}
{% set marginBottom = block.marginBottom.getExtras() %}
{% set paddingTop = block.paddingTop.getExtras() %}
{% set paddingBottom = block.paddingBottom.getExtras() %}

{% set blockClasses = [
    "block block--#{block.type}",
    marginTop.classes|default(null),
    marginBottom.classes|default(null),
    paddingTop.classes|default(null),
    paddingBottom.classes|default(null),
    "ttm-bgcolor-grey"
] %}

{% set blockStyles = {} %}

{% set id = "block-#{block.getId()}" %}

{# Section attributes #}
{% set attributes = {
    id: id,
    class: blockClasses,
    style: blockStyles
} %}

{% set thumb = {
    mode: 'crop',
    width: 593,
    height: 683,
    quality: 85
} %}

<section {{ attr(attributes) }}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ttm-bg ttm-col-bgcolor-yes ttm-bgcolor-white spacing-7 z-index-1">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                    <div class="layer-content">
                        {% for childBlock in block.children.all() %}
                        {% set backgroundColor = childBlock.backgroundColor.getValue()|default('ttm-bgcolor-skincolor') %}
                        {% if loop.first %}
                        <div class="row row-equal-height no-gutters">
                        {% endif %}
                            <div class="col-lg-4 col-md-12">
                                <div class="featured-icon-box icon-align-before-content style5 icon-ver_align-top {{ backgroundColor }}">
                                    <div class="featured-icon">
                                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-white ttm-icon_element-size-lg">
                                            {% set params = {
                                                icon: childBlock.icon
                                            } %}
                                            {{ render.icon(params) }}
                                        </div>
                                    </div>

                                    {% if childBlock.heading|length or childBlock.text|length %}
                                    <div class="featured-content">
                                        {% if childBlock.heading|length %}
                                        <div class="featured-title">
                                            <h3>{{ childBlock.heading }}</h3>
                                        </div>
                                        {% endif %}

                                        {% if childBlock.text|length %}
                                        <div class="featured-desc">
                                            {{ childBlock.text }}
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% if loop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}

                        <div class="row padding_top90 res-991-padding_top50">
                            <div class="col-lg-6 col-md-12">
                                <div class="d-inline-block position-relative">
                                    <div class="ttm_single_image-wrapper text-left">
                                        {% set image = block.image.one() %}
                                        {% if image|length %}
                                        {% set params = {
                                            image: image.getUrl(thumb),
                                            alt: image.title,
                                            class: 'img-fluid',
                                        } %}
                                        {{ render.setImage(params) }}
                                        {% endif %}
                                    </div>

                                    {% if block.overlayText|length and image|length %}
                                    <div class="d-table align-items-center mt_200 margin_bottom120 box-shadow">
                                        <div class="d-table-cell align-middle position-relative ttm-bgcolor-white p-50 padding_top25 padding_bottom25 res-991-p-10 res-991-padding_left20 res-991-padding_right20">
                                            <h2 class="fs-18 mb-0">{{ block.overlayText }}</h2>
                                        </div>
                                        <div class="d-table-cell align-middle cursor-pointer">
                                            <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-square mb-0 border-0">
                                                <i class="fa fa-angle-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-xs-12">
                                <div class="padding_left15 res-991-padding_left0 padding_top30 res-991-padding_top50">
                                    <div class="section-title">
                                        {% if block.eyebrow|length or block.heading|length %}
                                        <div class="title-header">
                                            {% if block.eyebrow|length %}
                                            <h3 class="eyebrowColor">{{ block.eyebrow }}</h3>
                                            {% endif %}

                                            {% set params = {
                                                text: block.heading,
                                                class: "ttm-textcolor-skincolor",
                                            } %}
                                            {% if block.heading|length %}
                                            <h2 class="title">{{ render.replaceUnderscores(params) }}</h2>
                                            {% endif %}
                                        </div>
                                        {% endif %}

                                        {% if block.heading|length %}
                                        <div class="heading-seperator"><span></span></div>
                                        {% endif %}

                                        {% if block.text|length %}
                                        <div class="title-desc">
                                            {{ block.text }}
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="row padding_top15">
                                        {% set text = false %}
                                        {% for child in block.listing.all() %}
                                        {% if loop.first %}
                                        <div class="col-lg-6 col-md-5 col-sm-6 padding_right20">
                                        {% endif %}
                                            <div class="featured-icon-box icon-align-before-title icon-ver_align-top style6">
                                                <div class="featured-icon">
                                                    <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                                        <i class="fa fa-play"></i>
                                                    </div>
                                                </div>

                                                {% if child.heading|length %}
                                                <div class="featured-title">
                                                    <h3>{{ child.heading }}</h3>
                                                </div>
                                                {% endif %}

                                                {% if child.text|length %}
                                                <div class="featured-content">
                                                    <div class="featured-desc">
                                                        {{ child.text }}
                                                        {% set text = true %}
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        {% if loop.last %}
                                        </div>
                                        {% endif %}
                                        {% endfor %}

                                        {# CTA Builder #}
                                        {% if block.cta|length %}
                                        {% set cta = block.cta.one() %}
                                        {% for block in cta.ctaBuilder.all() %}
                                        {% if loop.first and text %}
                                        <div class="col-lg-6 col-md-5 col-sm-6">
                                        {% endif %}
                                            {# Include featuredStatistics #}
                                            {% include "_partials/ctaBuilder/featuredStatistics" with { block : block } %}
                                        {% if loop.last and text %}
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>